* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.wrapper {
   position: relative;

   width: 80%;
   max-width: 900px;
   margin: 10% auto;
   font-family: 'Poppins', sans-serif;
}

span {
   font-weight: 400;
}

h1 {
   margin: 75px 0;

   font-size: 1rem;
   font-weight: 200;
}

.gallery {
   position: relative;
}

.gallery img {
   position: relative;
   z-index: 0;

   overflow: hidden;

   width: 50%;
   height: auto;
   margin: 0 -4px -7.5px 0;

   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.gallery:hover img {
   -webkit-transform: scale(0.9);
   transform: scale(0.9);

   -webkit-filter: blur(8px);
   filter: blur(8px);
}

.gallery img:hover {
   z-index: 1;

   -webkit-transform: scale(1.2);
   transform: scale(1.2);

   -webkit-box-shadow: 5px 0 45px 0 #b8b5b5,
   -5px 0 45px 0 #b8b5b5;
   box-shadow: 10px 10px 400px 0 #666666,
   -10px 10px 400px 0 #666666;

   -webkit-filter: blur(0px);
   filter: blur(0px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
   .gallery img {
      display: block;

      width: 90%;
      max-width: 450px;
      height: auto;
      margin: 0 auto;
   }
   .gallery h1 {
      margin: 30px auto;
      width: 90%;
      max-width: 450px;
   }
}